body{
    background-color: #ddd;
    font-family: Arial;
}
main#idmain{
    width: 50%;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 1px 0px 30px #777;
}
.listagem{
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}
table.listagem tr{
    height: 50px;
}
table.listagem td{
    border: 1px solid #ccc;
    padding: 10px;
}
table.listagem tr:nth-child(even){
    background-color: #f2f2f2;
}
table.listagem td:nth-child(1){
    width: 50px;
}
table.listagem td:nth-child(3){
    width: 50px;
 }

.mini{
    width: 57px;
 }
.mini02{
    width: 200px;
    height: 200px;
 }

 .detalhes{
    width: 100%;
 }
.detalhes td{
    padding-left: 15px;
    vertical-align: top;
 }
.back{
    margin-top: 20px;
}

footer{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
}

header{
    font-size: 10px;
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
}

#busca {
    text-align: right;
    font-size: 10px;
}

.sucesso{
    padding: 7px 15px;
    margin-bottom: 15px;
    border-radius: 15px;
    background-color: rgba(55, 252, 65, 0.623);
    color: green;
}
.aviso{
    padding: 7px 15px;
    margin-bottom: 15px;
    border-radius: 15px;
    background-color: rgba(242, 245, 60, 0.685);
    color: rgb(102, 102, 1);
}
.erro{
    padding: 7px 15px;
    margin-bottom: 15px;
    border-radius: 15px;
    background-color: rgba(240, 11, 11, 0.671);
    color: red;
}